/////////////////////// HOME PAGE
.homepage.fluid-container {
  background: white;
  height: 100vh; overflow: scroll;
  p.welcome {text-transform: capitalize;}
  div.user-info {
    position: relative;
    details {
      position: absolute;
      z-index: 1;
      background: white;
      summary {
        font-size: 1.2rem;
        &:focus {outline: none; border: none;}
      }
      width: 100%;
      padding: 1rem 2rem;
      p {border-bottom: 0.5px solid $fog;}
      &[open] {border: 1px solid $fog; summary {padding: 0 0 1rem;}}
    }
  }
  div.row.header-row {
    padding: 1rem 5vh;
    box-shadow: 5px 9px 14px rgba(0, 0, 0, 0.15);
  }

  div.row.blog-content {
    padding: 5vh;
    h3 {padding: 1rem; color: $dark-boulder; margin-bottom: 1.5rem;}
    div.post {
      box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.15);
      transition: all 250ms;
      margin: 0.5rem 1rem;
      img.post_image {display: block; max-width: 100%; margin: 1rem auto; }
      a.post-link {
        clear: both; margin-bottom: 10px; text-decoration: none;
        h3 {padding: 0; color: $dark-blue; margin-bottom: 0.5rem;}
        div.info {
          p {display: inline-block; color: $boulder; line-height: 1.4;}
          p:first-of-type {color: $dark-blue;}
        }
      }
      a.category {
        font-size: 0.9rem;
        background: $fog;
        padding: 0.5rem 1rem;
        border: 0.5px solid $boulder;
        border-radius: 20px;
        color: $dark-boulder;
        margin: 0 0 1rem;
        display: inline-block;
      }
      &:hover {
        box-shadow: 6px 7px 8px rgba(0, 0, 0, 0.17);
        transition: all 250ms;
      }
    }
  }
}

///////////////////////////////////////// FILTERED POSTS
.filtered-posts.fluid-container {
  background: white;
  height: 100vh; overflow: scroll;
  div.row.blog-content {
    padding: 5vh;
    h3 {padding: 1rem; color: $dark-boulder; margin-bottom: 1.5rem;}
    div.post {
      box-shadow: 5px 9px 14px rgba(0, 0, 0, 0.15);
      transition: all 250ms;
      margin: 0 1rem;
      img.post_image {display: block; max-width: 100%; margin: 1rem auto; }
      a.post-link {
        clear: both; margin-bottom: 10px; text-decoration: none;
        h3 {padding: 0; color: $dark-blue; margin-bottom: 0.5rem;}
        div.info {
          p {display: inline-block; color: $boulder; line-height: 1.4;}
          p:first-of-type {color: $dark-blue;}
        }
      }
      &:hover {
        box-shadow: 10px 16px 18px rgba(0, 0, 0, 0.17);
        transition: all 250ms;
      }
    }
  }
}

///////////////////////////////////////// SINGLE POSTS
.single-posts.fluid-container {
  background: white;
  height: 100vh; overflow: scroll;
  div.row.blog-content {
    padding: 5vh;
    .post-wrapper {
      h2 {
        color: $dark-boulder;
        font-weight: 900;
        text-transform: capitalize;
        border-bottom: 1px solid $dark-blue;
        margin-bottom: 1.5rem;
        padding-bottom: 5px;
      }
    }
    .post-sidebar {
      div.card-header {
        background: $fog;
        h2 {font-size: 1.25rem; color: $dark-blue; text-align: center;}
      }
      div.card-content {
        display: flex; flex-flow: column;
        a {
          font-size: 0.9rem;
          background: $fog;
          padding: 0.5rem 1rem;
          border: 0.5px solid $boulder;
          border-radius: 20px;
          color: $dark-boulder;
          margin: 0.5rem auto;
          text-align: center;
          display: block;
          width: 100%;
          max-width: 150px;
        }
      }
    }

    div.full-post {
      border-bottom: 0.5px solid $boulder;
      margin-bottom: 1rem;
      .post-body-div {margin-bottom: 3rem;}
    }
    div.comments-section {
      img.profile-pic {max-width: 25px; margin: 0 1rem 0 0; border-radius: 50%;}
      h4 {color: $boulder; text-align: center; font-size: 1rem;}
      div.comment {
        padding: 0.5rem;
        div.comment-details {
          display: flex; align-items: center;
          div.details {
            flex: 1 0 auto;
            p.comment-name {color: #2193b0; font-size: 1rem; margin: 0;}
            p.comment-date {color: $dark-boulder; font-size: 0.7rem; margin: 0;}
          }
        }
        div.comment-body {
          padding: 0 1rem;
          p {font-weight: bold; width: 95%; margin: 1rem auto; }
          a.reply-btn {text-align: right; width: 100%; display: block; padding-bottom: 0.5rem;}
        }
        form.reply_form {width: 100%; display: none;}
        &:nth-of-type(odd) {background: #f0f0f0;}
        //Replies
        div.comment {
          &:nth-of-type(odd) {background: white;}
          &:nth-of-type(even) {background: #f0f0f0;}
          border-left: 0.5px solid $boulder;
        }
      }
      form#comment_form {
        label {display: none;}
        textarea#comment_text {margin: 1rem auto 0.5rem;}
      }
    }

  }
}

///////////////////////////////////////// USERS
.users.fluid-container {
  background: white;
  height: 100vh; overflow: scroll;
  div.row.header-row {
    padding: 1rem 5vh;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  }
  div.row.blog-content {
    padding: 5vh;
    h3 {padding: 1rem; color: $dark-boulder; margin-bottom: 1.5rem;}
    div.users-form {
      box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
      background: white;
      form {
        padding: 1rem;
        button {
          margin: 1rem auto 0;
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

///////////////////////////////////////// CATEGORIES
.categories.fluid-container {
  background: white;
  height: 100vh; overflow: scroll;
  div.row.header-row {
    padding: 1rem 5vh;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  }
  div.row.blog-content {
    padding: 5vh;
    h3 {padding: 1rem; color: $dark-boulder; margin-bottom: 1.5rem;}
    div.categories-form {
      box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
      background: white;
      form {
        padding: 1rem;
        button {
          margin: 1rem auto 0;
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

///////////////////////////////////////// POSTS
.posts.fluid-container {
  background: white;
  height: 100vh; overflow: scroll;
  div.row.header-row {
    padding: 1rem 5vh;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  }
  div.row.blog-content {
    padding: 5vh;
    h3 {padding: 1rem; color: $dark-boulder; margin-bottom: 1.5rem;}
  }
}

///////////////////////////////////////// CREATE POST
.create-post.fluid-container {
  background: white;
  height: 100vh; overflow: scroll;
  div.row.header-row {
    padding: 1rem 5vh;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  }
  div.row.blog-content {
    padding: 5vh;
    h3 {padding: 1rem; color: $dark-boulder; margin-bottom: 1.5rem;}
    form {
      input#publish {max-width: 35px;}
    }
  }
}

///////////////////////////////////////// SEARCH POSTS
.search-page.fluid-container {
  background: white;
  height: 100vh; overflow: scroll;
  div.row.header-row {
    padding: 1rem 5vh;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  }
  div.row.blog-content {
    padding: 5vh;
    display: flex; justify-content: center; align-items: center;
    div.search-blog {
      margin: 0 auto 2rem;
      label {visibility: hidden;}
    }
  }
}