* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
}
* p {
  line-height: 1.4;
}

div.wrapper {
  display: grid;
  grid-template-columns: minmax(min-content, 18%) minmax(min-content, 82%);
  font-family: "Lato", sans-serif;
  font-variant-ligatures: common-ligatures;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.login-page {
  background: #2193b0;
  background: -webkit-linear-gradient(to left, #6dd5ed, #2193b0);
  background: linear-gradient(to left, #6dd5ed, #2193b0);
}

.login.container {
  padding: 10vh 0;
}
.login.container .login-form {
  background: white;
  border-radius: 5px;
  box-shadow: 5px 9px 14px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  flex: 1 0 auto;
}
.login.container .login-form form button[type=submit] {
  width: 100%;
  font-size: 1.2rem;
  background: #2193b0;
  border: none;
}
.login.container .login-form form button[type=submit]:hover {
  background: #6dd5ed;
}
.login.container .login-form form p {
  text-align: center;
}
.login.container .login-form form p a {
  color: #2193b0;
}

.register-page {
  background: #2193b0;
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
  background: linear-gradient(to right, #6dd5ed, #2193b0);
}

div.error p {
  font-weight: 700;
  font-size: 1.1rem;
  color: red;
}

.register.container {
  padding: 10vh 0;
}
.register.container .register-form {
  background: white;
  box-shadow: 5px 9px 14px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  flex: 1 0 auto;
  border-radius: 5px;
}
.register.container .register-form form div.credentials, .register.container .register-form form div.about-you, .register.container .register-form form div.location {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.register.container .register-form form div.credentials h4, .register.container .register-form form div.about-you h4, .register.container .register-form form div.location h4 {
  width: 100%;
  padding: 1rem;
  text-align: left;
  font-size: 1.2rem;
  border-bottom: 0.5px solid #bfc3c3;
  margin-bottom: 1rem;
}
.register.container .register-form form div.credentials .form-group, .register.container .register-form form div.about-you .form-group, .register.container .register-form form div.location .form-group {
  width: 45%;
  margin: 0 10px 1rem;
}
.register.container .register-form form div.credentials .address-info, .register.container .register-form form div.about-you .address-info, .register.container .register-form form div.location .address-info {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.register.container .register-form form div.credentials .address-info .form-group:nth-of-type(1), .register.container .register-form form div.about-you .address-info .form-group:nth-of-type(1), .register.container .register-form form div.location .address-info .form-group:nth-of-type(1) {
  flex: 2 0 auto;
}
.register.container .register-form form button[type=submit] {
  width: 100%;
  font-size: 1.2rem;
  background: #2193b0;
  border: none;
}
.register.container .register-form form button[type=submit]:hover {
  background: #6dd5ed;
}
.register.container .register-form form p {
  text-align: center;
}
.register.container .register-form form p a {
  color: #2193b0;
}

.homepage.fluid-container {
  background: white;
  height: 100vh;
  overflow: scroll;
}
.homepage.fluid-container p.welcome {
  text-transform: capitalize;
}
.homepage.fluid-container div.user-info {
  position: relative;
}
.homepage.fluid-container div.user-info details {
  position: absolute;
  z-index: 1;
  background: white;
  width: 100%;
  padding: 1rem 2rem;
}
.homepage.fluid-container div.user-info details summary {
  font-size: 1.2rem;
}
.homepage.fluid-container div.user-info details summary:focus {
  outline: none;
  border: none;
}
.homepage.fluid-container div.user-info details p {
  border-bottom: 0.5px solid #f0f0f0;
}
.homepage.fluid-container div.user-info details[open] {
  border: 1px solid #f0f0f0;
}
.homepage.fluid-container div.user-info details[open] summary {
  padding: 0 0 1rem;
}
.homepage.fluid-container div.row.header-row {
  padding: 1rem 5vh;
  box-shadow: 5px 9px 14px rgba(0, 0, 0, 0.15);
}
.homepage.fluid-container div.row.blog-content {
  padding: 5vh;
}
.homepage.fluid-container div.row.blog-content h3 {
  padding: 1rem;
  color: #2f2f2f;
  margin-bottom: 1.5rem;
}
.homepage.fluid-container div.row.blog-content div.post {
  box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.15);
  transition: all 250ms;
  margin: 0.5rem 1rem;
}
.homepage.fluid-container div.row.blog-content div.post img.post_image {
  display: block;
  max-width: 100%;
  margin: 1rem auto;
}
.homepage.fluid-container div.row.blog-content div.post a.post-link {
  clear: both;
  margin-bottom: 10px;
  text-decoration: none;
}
.homepage.fluid-container div.row.blog-content div.post a.post-link h3 {
  padding: 0;
  color: #2193b0;
  margin-bottom: 0.5rem;
}
.homepage.fluid-container div.row.blog-content div.post a.post-link div.info p {
  display: inline-block;
  color: #484949;
  line-height: 1.4;
}
.homepage.fluid-container div.row.blog-content div.post a.post-link div.info p:first-of-type {
  color: #2193b0;
}
.homepage.fluid-container div.row.blog-content div.post a.category {
  font-size: 0.9rem;
  background: #f0f0f0;
  padding: 0.5rem 1rem;
  border: 0.5px solid #484949;
  border-radius: 20px;
  color: #2f2f2f;
  margin: 0 0 1rem;
  display: inline-block;
}
.homepage.fluid-container div.row.blog-content div.post:hover {
  box-shadow: 6px 7px 8px rgba(0, 0, 0, 0.17);
  transition: all 250ms;
}

.filtered-posts.fluid-container {
  background: white;
  height: 100vh;
  overflow: scroll;
}
.filtered-posts.fluid-container div.row.blog-content {
  padding: 5vh;
}
.filtered-posts.fluid-container div.row.blog-content h3 {
  padding: 1rem;
  color: #2f2f2f;
  margin-bottom: 1.5rem;
}
.filtered-posts.fluid-container div.row.blog-content div.post {
  box-shadow: 5px 9px 14px rgba(0, 0, 0, 0.15);
  transition: all 250ms;
  margin: 0 1rem;
}
.filtered-posts.fluid-container div.row.blog-content div.post img.post_image {
  display: block;
  max-width: 100%;
  margin: 1rem auto;
}
.filtered-posts.fluid-container div.row.blog-content div.post a.post-link {
  clear: both;
  margin-bottom: 10px;
  text-decoration: none;
}
.filtered-posts.fluid-container div.row.blog-content div.post a.post-link h3 {
  padding: 0;
  color: #2193b0;
  margin-bottom: 0.5rem;
}
.filtered-posts.fluid-container div.row.blog-content div.post a.post-link div.info p {
  display: inline-block;
  color: #484949;
  line-height: 1.4;
}
.filtered-posts.fluid-container div.row.blog-content div.post a.post-link div.info p:first-of-type {
  color: #2193b0;
}
.filtered-posts.fluid-container div.row.blog-content div.post:hover {
  box-shadow: 10px 16px 18px rgba(0, 0, 0, 0.17);
  transition: all 250ms;
}

.single-posts.fluid-container {
  background: white;
  height: 100vh;
  overflow: scroll;
}
.single-posts.fluid-container div.row.blog-content {
  padding: 5vh;
}
.single-posts.fluid-container div.row.blog-content .post-wrapper h2 {
  color: #2f2f2f;
  font-weight: 900;
  text-transform: capitalize;
  border-bottom: 1px solid #2193b0;
  margin-bottom: 1.5rem;
  padding-bottom: 5px;
}
.single-posts.fluid-container div.row.blog-content .post-sidebar div.card-header {
  background: #f0f0f0;
}
.single-posts.fluid-container div.row.blog-content .post-sidebar div.card-header h2 {
  font-size: 1.25rem;
  color: #2193b0;
  text-align: center;
}
.single-posts.fluid-container div.row.blog-content .post-sidebar div.card-content {
  display: flex;
  flex-flow: column;
}
.single-posts.fluid-container div.row.blog-content .post-sidebar div.card-content a {
  font-size: 0.9rem;
  background: #f0f0f0;
  padding: 0.5rem 1rem;
  border: 0.5px solid #484949;
  border-radius: 20px;
  color: #2f2f2f;
  margin: 0.5rem auto;
  text-align: center;
  display: block;
  width: 100%;
  max-width: 150px;
}
.single-posts.fluid-container div.row.blog-content div.full-post {
  border-bottom: 0.5px solid #484949;
  margin-bottom: 1rem;
}
.single-posts.fluid-container div.row.blog-content div.full-post .post-body-div {
  margin-bottom: 3rem;
}
.single-posts.fluid-container div.row.blog-content div.comments-section img.profile-pic {
  max-width: 25px;
  margin: 0 1rem 0 0;
  border-radius: 50%;
}
.single-posts.fluid-container div.row.blog-content div.comments-section h4 {
  color: #484949;
  text-align: center;
  font-size: 1rem;
}
.single-posts.fluid-container div.row.blog-content div.comments-section div.comment {
  padding: 0.5rem;
}
.single-posts.fluid-container div.row.blog-content div.comments-section div.comment div.comment-details {
  display: flex;
  align-items: center;
}
.single-posts.fluid-container div.row.blog-content div.comments-section div.comment div.comment-details div.details {
  flex: 1 0 auto;
}
.single-posts.fluid-container div.row.blog-content div.comments-section div.comment div.comment-details div.details p.comment-name {
  color: #2193b0;
  font-size: 1rem;
  margin: 0;
}
.single-posts.fluid-container div.row.blog-content div.comments-section div.comment div.comment-details div.details p.comment-date {
  color: #2f2f2f;
  font-size: 0.7rem;
  margin: 0;
}
.single-posts.fluid-container div.row.blog-content div.comments-section div.comment div.comment-body {
  padding: 0 1rem;
}
.single-posts.fluid-container div.row.blog-content div.comments-section div.comment div.comment-body p {
  font-weight: bold;
  width: 95%;
  margin: 1rem auto;
}
.single-posts.fluid-container div.row.blog-content div.comments-section div.comment div.comment-body a.reply-btn {
  text-align: right;
  width: 100%;
  display: block;
  padding-bottom: 0.5rem;
}
.single-posts.fluid-container div.row.blog-content div.comments-section div.comment form.reply_form {
  width: 100%;
  display: none;
}
.single-posts.fluid-container div.row.blog-content div.comments-section div.comment:nth-of-type(odd) {
  background: #f0f0f0;
}
.single-posts.fluid-container div.row.blog-content div.comments-section div.comment div.comment {
  border-left: 0.5px solid #484949;
}
.single-posts.fluid-container div.row.blog-content div.comments-section div.comment div.comment:nth-of-type(odd) {
  background: white;
}
.single-posts.fluid-container div.row.blog-content div.comments-section div.comment div.comment:nth-of-type(even) {
  background: #f0f0f0;
}
.single-posts.fluid-container div.row.blog-content div.comments-section form#comment_form label {
  display: none;
}
.single-posts.fluid-container div.row.blog-content div.comments-section form#comment_form textarea#comment_text {
  margin: 1rem auto 0.5rem;
}

.users.fluid-container {
  background: white;
  height: 100vh;
  overflow: scroll;
}
.users.fluid-container div.row.header-row {
  padding: 1rem 5vh;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}
.users.fluid-container div.row.blog-content {
  padding: 5vh;
}
.users.fluid-container div.row.blog-content h3 {
  padding: 1rem;
  color: #2f2f2f;
  margin-bottom: 1.5rem;
}
.users.fluid-container div.row.blog-content div.users-form {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
  background: white;
}
.users.fluid-container div.row.blog-content div.users-form form {
  padding: 1rem;
}
.users.fluid-container div.row.blog-content div.users-form form button {
  margin: 1rem auto 0;
  display: block;
  width: 100%;
  text-align: center;
}

.categories.fluid-container {
  background: white;
  height: 100vh;
  overflow: scroll;
}
.categories.fluid-container div.row.header-row {
  padding: 1rem 5vh;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}
.categories.fluid-container div.row.blog-content {
  padding: 5vh;
}
.categories.fluid-container div.row.blog-content h3 {
  padding: 1rem;
  color: #2f2f2f;
  margin-bottom: 1.5rem;
}
.categories.fluid-container div.row.blog-content div.categories-form {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
  background: white;
}
.categories.fluid-container div.row.blog-content div.categories-form form {
  padding: 1rem;
}
.categories.fluid-container div.row.blog-content div.categories-form form button {
  margin: 1rem auto 0;
  display: block;
  width: 100%;
  text-align: center;
}

.posts.fluid-container {
  background: white;
  height: 100vh;
  overflow: scroll;
}
.posts.fluid-container div.row.header-row {
  padding: 1rem 5vh;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}
.posts.fluid-container div.row.blog-content {
  padding: 5vh;
}
.posts.fluid-container div.row.blog-content h3 {
  padding: 1rem;
  color: #2f2f2f;
  margin-bottom: 1.5rem;
}

.create-post.fluid-container {
  background: white;
  height: 100vh;
  overflow: scroll;
}
.create-post.fluid-container div.row.header-row {
  padding: 1rem 5vh;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}
.create-post.fluid-container div.row.blog-content {
  padding: 5vh;
}
.create-post.fluid-container div.row.blog-content h3 {
  padding: 1rem;
  color: #2f2f2f;
  margin-bottom: 1.5rem;
}
.create-post.fluid-container div.row.blog-content form input#publish {
  max-width: 35px;
}

.search-page.fluid-container {
  background: white;
  height: 100vh;
  overflow: scroll;
}
.search-page.fluid-container div.row.header-row {
  padding: 1rem 5vh;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}
.search-page.fluid-container div.row.blog-content {
  padding: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-page.fluid-container div.row.blog-content div.search-blog {
  margin: 0 auto 2rem;
}
.search-page.fluid-container div.row.blog-content div.search-blog label {
  visibility: hidden;
}

.navbar {
  background: white;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.06);
}
.navbar #nav-logo {
  max-width: 150px;
  width: 100%;
}

#sidebar {
  display: flex;
  flex-flow: column;
  background: #484949;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.06);
  height: 100vh;
  position: sticky;
  max-width: 300px;
}
#sidebar .sidebar-brand {
  background: #2f2f2f;
  padding: 1rem 0.5rem;
}
#sidebar .sidebar-brand #nav-logo {
  display: block;
  margin: 0 auto;
  max-width: 120px;
  width: 100%;
}
#sidebar .sidebar-links {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 1.5rem;
}
#sidebar .sidebar-links a {
  color: white;
  font-size: 1.1rem;
  width: 100%;
  padding: 0.5rem 1rem;
}
#sidebar .sidebar-links a:hover {
  background: #2f2f2f;
  text-decoration: none;
}
#sidebar .sidebar-links a.btn-danger {
  margin: 1rem auto;
  max-width: 95%;
  position: absolute;
  bottom: 0;
  align-self: center;
  background: #2f2f2f;
}
#sidebar .sidebar-links a.btn-danger:hover {
  background: #dc3545;
}

/*# sourceMappingURL=main.css.map */
